<img src="./images/shouke_logo.png"
     style="float: right"
     width=150
     style="padding-bottom:100px;"/>
<br>
<br>

<table style="float:center;">
    <tr>
        <td>
            <img src='./images/python-logo.png'width=130>
        </td>
        <td>
            <img src='./images/pandas-logo.png'width=150>
        </td>
    </tr>
</table>

<h1 style='text-align: center;'>Renaming Columns of DataFrame</h1>
<h2 style='text-align: center;'>Shouke Wei, Ph.D. Professor</h2>
<h3 style='text-align: center;'>Email: shouke.wei@gmail.com</h3>

## Objective:
- learn how to change column names of Pandas DataFrame

In [28]:
# Load the required packages
import pandas as pd

# Read the data
df = pd.read_csv('./data/gdp_china_clean.csv',index_col=0)

# show the first 5 rows
df.head()

,Province,GDP ranking,Year,GDP (x10^12CNY),population (x10^7 person),fixed assets investment (x10^12 CNY),total imports and exports (x10^8CNY),fiscal expenditure(x10^12CNY),urban disposal income per capita (x10^4CNY)
0,Guangdong,First,2000,1.074125,8.650,0.314513,1.408147,0.108032,0.976157
1,Guangdong,First,2001,1.203925,8.733,0.348443,14.609701,0.132133,1.041519
2,Guangdong,First,2002,1.350242,8.842,0.385078,1.830169,0.152108,1.113720
3,Guangdong,First,2003,1.584464,8.963,0.481320,2.346735,0.169563,1.238043
4,Guangdong,First,2004,1.886462,NaN,0.587002,2.955899,0.185295,1.362765

In [29]:
# show the column names
df.columns

Index(['Province', 'GDP ranking ', 'Year  ', 'GDP (x10^12CNY)',
       'population (x10^7 person)', 'fixed assets investment (x10^12 CNY)',
       'total imports and exports (x10^8CNY)', 'fiscal expenditure(x10^12CNY)',
       'urban disposal income per capita (x10^4CNY)'],
      dtype='object')

## 1. Using `set_axis` with a list and `inplace=False`

In [30]:
new_colnames = ['prov','gdpr','year','gdp','pop','finv','trade','fexpen','uinc']

In [32]:
df.set_axis(new_colnames, axis='columns') #default: inplace=False

,prov,gdpr,year,gdp,pop,finv,trade,fexpen,uinc
0,Guangdong,First,2000,1.074125,8.650,0.314513,1.408147,0.108032,0.976157
1,Guangdong,First,2001,1.203925,8.733,0.348443,14.609701,0.132133,1.041519
2,Guangdong,First,2002,1.350242,8.842,0.385078,1.830169,0.152108,1.113720
3,Guangdong,First,2003,1.584464,8.963,0.481320,2.346735,0.169563,1.238043
4,Guangdong,First,2004,1.886462,NaN,0.587002,2.955899,0.185295,1.362765
...,...,...,...,...,...,...,...,...,...
90,Henan,Fifth,2014,3.493824,9.436,3.078217,0.399111,0.602869,2.367206
91,Henan,Fifth,2015,3.700216,9.480,3.566035,0.459535,0.679935,2.557561
92,Henan,Fifth,2016,4.047179,9.532,4.041509,0.471385,0.745374,2.723292
93,Henan,Fifth,2017,4.455283,9.392,4.449690,0.000523,0.821552,2.955790
94,Henan,Fifth,2018,4.805586,9.360,4.450960,0.551170,0.921773,3.187420

In [33]:
df.columns

Index(['Province', 'GDP ranking ', 'Year  ', 'GDP (x10^12CNY)',
       'population (x10^7 person)', 'fixed assets investment (x10^12 CNY)',
       'total imports and exports (x10^8CNY)', 'fiscal expenditure(x10^12CNY)',
       'urban disposal income per capita (x10^4CNY)'],
      dtype='object')

## 2. Using the `.columns` attribute with a list

In [34]:
new_colnames = ['prov','gdpr','year','gdp','pop','finv','trade','fexpen','uinc']

In [35]:
df.columns = new_colnames

In [36]:
df.columns

Index(['prov', 'gdpr', 'year', 'gdp', 'pop', 'finv', 'trade', 'fexpen',
       'uinc'],
      dtype='object')

The advantage of using 'set_axis' is that it can be used as part of a method chain and that it returns a new copy of the DataFrame.

## 3. Save the new DataFrame

In [37]:
df.to_csv('./data/gdp_china_renamed.csv',index=False)