<img src="./images/shouke_logo.png"
     style="float: right"
     width=150
     style="padding-bottom:100px;"/>
<br>
<br>

<table style="float:center;">
    <tr>
        <td>
            <img src='./images/python-logo.png'width=130>
        </td>
        <td>
            <img src='./images/pandas-logo.png'width=150>
        </td>
    </tr>
</table>

<h1 style='text-align: center;'>Sorting Pandas DataFrame</h1>
<h3 style='text-align: center;'>Shouke Wei, Ph.D. Professor</h3>
<h4 style='text-align: center;'>Email: shouke.wei@gmail.com</h4>

## Objective
- learn some basic methods to sort Panadas DataFrame

In [19]:
# Load the required packages
import pandas as pd

# Read the data
df = pd.read_csv('./data/gdp_china_renamed.csv')

# diplay the first 5 rows
df.head()

,prov,gdpr,year,gdp,pop,finv,trade,fexpen,uinc
0,Guangdong,First,2000,1.074125,8.650,0.314513,1.408147,0.108032,0.976157
1,Guangdong,First,2001,1.203925,8.733,0.348443,14.609701,0.132133,1.041519
2,Guangdong,First,2002,1.350242,8.842,0.385078,1.830169,0.152108,1.113720
3,Guangdong,First,2003,1.584464,8.963,0.481320,2.346735,0.169563,1.238043
4,Guangdong,First,2004,1.886462,NaN,0.587002,2.955899,0.185295,1.362765

## 1. Sorting the data by one column

In [21]:
# default ascending=True
df.sort_values(by=['gdp'],ascending=False)

,prov,gdpr,year,gdp,pop,finv,trade,fexpen,uinc
18,Guangdong,First,2018,9.727777,9.660,3.777120,7.160210,1.572926,4.434100
37,Jiangsu,Second,2018,9.259540,7.723,5.327680,4.379350,1.165735,4.720000
17,Guangdong,First,2017,8.970523,9.442,3.776170,6.816880,1.503748,4.097510
36,Jiangsu,Second,2017,8.586976,7.656,5.327700,3.999750,1.062103,4.362180
16,Guangdong,First,2016,8.085491,10.999,3.330364,6.310052,1.344609,3.768425
...,...,...,...,...,...,...,...,...,...
79,Henan,Fifth,2003,0.686770,9.667,0.226297,0.039003,0.071660,0.692612
57,Zhejiang,Fourth,2000,0.614103,4.680,0.234995,0.230410,0.043130,0.927916
78,Henan,Fifth,2002,0.603548,9.613,0.172593,0.026515,0.062918,0.624540
77,Henan,Fifth,2001,0.553301,9.555,0.154406,0.023027,0.050858,0.526742
76,Henan,Fifth,2000,0.505299,9.488,0.137774,0.018899,0.044553,0.476626

In [22]:
# or omit 'by='
df.sort_values(['gdp'],ascending=False)

,prov,gdpr,year,gdp,pop,finv,trade,fexpen,uinc
18,Guangdong,First,2018,9.727777,9.660,3.777120,7.160210,1.572926,4.434100
37,Jiangsu,Second,2018,9.259540,7.723,5.327680,4.379350,1.165735,4.720000
17,Guangdong,First,2017,8.970523,9.442,3.776170,6.816880,1.503748,4.097510
36,Jiangsu,Second,2017,8.586976,7.656,5.327700,3.999750,1.062103,4.362180
16,Guangdong,First,2016,8.085491,10.999,3.330364,6.310052,1.344609,3.768425
...,...,...,...,...,...,...,...,...,...
79,Henan,Fifth,2003,0.686770,9.667,0.226297,0.039003,0.071660,0.692612
57,Zhejiang,Fourth,2000,0.614103,4.680,0.234995,0.230410,0.043130,0.927916
78,Henan,Fifth,2002,0.603548,9.613,0.172593,0.026515,0.062918,0.624540
77,Henan,Fifth,2001,0.553301,9.555,0.154406,0.023027,0.050858,0.526742
76,Henan,Fifth,2000,0.505299,9.488,0.137774,0.018899,0.044553,0.476626

## 2. Sorting the data by 2 or more columns

In [24]:
df.sort_values(by=['year','gdp'],ascending=[False,True])

,prov,gdpr,year,gdp,pop,finv,trade,fexpen,uinc
94,Henan,Fifth,2018,4.805586,9.360,4.450960,0.551170,0.921773,3.187420
75,Zhejiang,Fourth,2018,5.619715,5.155,3.169770,2.851160,0.862953,5.557430
56,Shandong,Third,2018,7.646967,9.367,5.521350,1.930290,1.010096,3.954940
37,Jiangsu,Second,2018,9.259540,7.723,5.327680,4.379350,1.165735,4.720000
18,Guangdong,First,2018,9.727777,9.660,3.777120,7.160210,1.572926,4.434100
...,...,...,...,...,...,...,...,...,...
76,Henan,Fifth,2000,0.505299,9.488,0.137774,0.018899,0.044553,0.476626
57,Zhejiang,Fourth,2000,0.614103,4.680,0.234995,0.230410,0.043130,0.927916
38,Shandong,Third,2000,0.833747,8.998,0.253110,0.206875,0.061308,0.648997
19,Jiangsu,Second,2000,0.855369,7.327,0.256997,0.377796,0.059128,0.680023
0,Guangdong,First,2000,1.074125,8.650,0.314513,1.408147,0.108032,0.976157

## 3. Sorting the Data with Putting NAs first

In [25]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 95 entries, 0 to 94
Data columns (total 9 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   prov    95 non-null     object
 1   gdpr    95 non-null     object
 2   year    95 non-null     int64
 3   gdp     95 non-null     float64
 4   pop     93 non-null     float64
 5   finv    95 non-null     float64
 6   trade   95 non-null     float64
 7   fexpen  95 non-null     float64
 8   uinc    95 non-null     float64
dtypes: float64(6), int64(1), object(2)
memory usage: 6.8+ KB

In [26]:
df.sort_values(by=['pop'],na_position='first')

,prov,gdpr,year,gdp,pop,finv,trade,fexpen,uinc
4,Guangdong,First,2004,1.886462,NaN,0.587002,2.955899,0.185295,1.362765
23,Jiangsu,Second,2004,1.500360,NaN,0.655705,1.414083,0.131204,1.048193
57,Zhejiang,Fourth,2000,0.614103,4.680,0.234995,0.230410,0.043130,0.927916
58,Zhejiang,Fourth,2001,0.689834,4.729,0.283494,0.271497,0.059730,1.046467
59,Zhejiang,Fourth,2002,0.800367,4.776,0.347747,0.347297,0.074990,1.171560
...,...,...,...,...,...,...,...,...,...
12,Guangdong,First,2012,5.706792,10.594,1.875150,6.211629,0.738786,3.022671
13,Guangdong,First,2013,6.247479,10.644,2.230839,6.760380,0.841100,2.953729
14,Guangdong,First,2014,6.780985,10.724,2.629393,6.613243,0.915264,3.214811
15,Guangdong,First,2015,7.281255,10.849,3.034303,6.368512,1.282780,3.475716
16,Guangdong,First,2016,8.085491,10.999,3.330364,6.310052,1.344609,3.768425